/* Side-Navigation-Bar css */

/* style=“margin-left:auto; margin-right:auto; width:785px;” */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Helvetica";
}

.login {
  margin: auto;
  margin-top: 100px;
  width: 300px;
}

.login-header {
  font-size: 20pt;
  font-weight: bolder;
  margin-bottom: 10%;
}

.login-label {
  font-weight: bold;
  font-size: 10pt;
}

.login-signup {
  margin-top: 25px;
  margin-left: 10px;
}

.login-signup a {
  color: #4ebaaa;
}

.login-signup a:hover {
  color: #00897b;
  /* font-style: italic; */
}

/* .dashboard {
  padding: 1em;
  max-width:100%;
  min-height:100vh;
  width:100%;
  margin: auto;
  box-sizing:border-box;
  background-color:#ffbcaf;
} */

/* .dashboard-modal {
  position: relative;
  left: 80px;
  top: 2px;
} */

.form-control {
  background-color: #fafafa;
  /* font-style: italic; */
  border-style: none;
  box-shadow: 0px 5px 5px #c4c4c4;
  border-radius: 0%;
}

::placeholder {
  font-style: italic;
}

.body {
  background-color: #fafafa;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  width: 275px;
  height: 100%;
  background: #00897b;
  padding: 30px 0px;
  position: fixed;
  overflow-y: scroll;
}

.wrapper .sidebar .avatar {
  color: #4ebaaa;
  /* display: block; */
  border-radius: 50%;
  margin-bottom: 30px;
  margin-left: 40px;
  /* margin-left: auto;
  margin-right: auto; */
  /* width: 50%; */
}

.wrapper .sidebar h2 {
  color: #fafafa;
  /* text-transform: uppercase; */
  text-align: center;
  font-size: 14pt;
  font-weight: bold;
  margin-bottom: 40px;
}

#patient-dropdown {
  color: #fafafa;
  background: none;
  outline-color: transparent;
  text-align: center;
  font-size: 14pt;
  font-weight: bold;
}

/* .browser-default .custom-select{
  color: #fafafa !important;
  background: none;
  outline-color: transparent;
  text-align: center;
  font-size: 14pt;
  font-weight: bold;
} */

.wrapper .sidebar h5 {
  color: #fafafa;
  text-transform: uppercase;
  text-align: left;
  font-size: 12pt;
  font-weight: bold;
  margin-left: 40px;
  margin-bottom: 10px;
}
.wrapper .sidebar p {
  color: #c4c4c4;
  text-align: left;
  font-size: 12pt;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 15px;
}

a:link {
  text-decoration: none;
}

.wrapper .sidebar ul li {
  color: #c4c4c4;
  padding: 5px;
  margin-left: 50px;
}

.wrapper .sidebar ul li a {
  color: #bdb8d7;
  display: block;
  text-decoration: none;
}

.wrapper .sidebar ul li a .fas {
  width: 25px;
}

.wrapper .sidebar ul li:hover {
  background-color: #005b4f;
}

.wrapper .sidebar ul li:hover a {
  color: #fff;
}

.wrapper .sidebar .social_media {
  position: fixed;
  bottom: 0;
  right: 1%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a {
  display: block;
  width: 40px;
  background: #c4c4c4;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #fafafa;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.main_content {
  width: 75%;
  margin-left: 300px;
  /* background: #fafafa; */
  /* margin-right: 100px; */
}

.main_content .header {
  font-weight: bold;
  font-size: 14pt;
  margin-top: 150px;
  padding: 20px;
  padding-left: 0;
  /* background: #fafafa; */
  color: #2e2e2e;
  border-bottom: 1px solid #e0e4e8;
}

.subheader {
  color: #4ebaaa;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main_content .info {
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.main_content .info div {
  margin-bottom: 20px;
}

#add-form {
  position: fixed;
  bottom: 20px;
  right: 50;
  border-radius: 0%;
}

.dashboard-profile-section {
  margin: 10px;
  margin-left: 50px;
  padding-top: 30px;
  /* border-style: solid; */
}

#dashboard-form {
  position: relative;
  top: 20px;
  left: 50;
  /* border-radius: 50%; */
}

.form-check {
  text-transform: capitalize;
  margin-left: auto;
  margin-right: auto;
}

.form-modal {
  padding: 20px;
  padding-left: 30px;
  background: #fff;
  color: #fafafa;
  border-bottom: 1px solid #e0e4e8;
  background: #00897b;
  font-size: 14pt;
  font-weight: bold;
}

.btn {
  border-radius: 0%;
  margin-right: 3px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #00897b !important;
  font-weight: bold;
}

.btn .btn-primary .btn-outline .mb1 {
  outline-color: #00897b !important;
}

.btn-info,
.btn-info:hover,
.btn-info:active,
.btn-info:visited {
  color: #2e2e2e;
  background-color: #c4c4c4 !important;
  font-weight: bold;
}

input[type="checkbox"]:checked + label.strikethrough {
  text-decoration: line-through;
}

.btn .btn-info .btn-outline .mb1 {
  outline-color: #c4c4c4 !important;
}

/* #ellipse1 {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5;
} */

.img-overlay-wrap {
  position: relative;
  display: inline-block; /* <= shrinks container to image size */
  /* transition: transform 150ms ease-in-out; */
}

.img-overlay-wrap .notelist {
  /* <= optional, for responsiveness */
  display: block;
  max-width: 100%;
  height: auto;
}

.img-overlay-wrap .ellipse1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.login-overlay-wrap {
  /* position: relative;
  display: inline-block; <= shrinks container to image size */
  /* transition: transform 150ms ease-in-out; */
}

.login-overlay-wrap .login {
  /* <= optional, for responsiveness */
  /* display: block;
  max-width: 100%;
  height: auto; */
}

.login-overlay-wrap .login-ellipses {
  /* position: absolute;
  top: 0;
  left: 0; */
  z-index: -1;
}

#ellipse2 {
  position: absolute;
  top: 0px;
  left: 0px;
}

#ellipse3 {
  position: absolute;
  top: 0px;
  right: 0px;
}

#ellipse4 {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

#ellipse5 {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.navbar {
  background: rgba(0, 137, 123, 0.2);
}

/* .img-overlay-wrap:hover {
  transform: rotate(15deg);
} */

/* .dashboard-profile-cards {
  display: flex;
  flex-wrap: wrap;
}

.dashboard-profile-cards > * {
  flex: 1 1 160px;
} */

/* autocomplete */
.auto-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.autoContainer {
  z-index: 1;
}

/* .logo {
  background-image: url("./loc-logo.png");
  height: 70px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
} */

/* input {
  padding: 10px;
  height: 20px;
  width: 500px;
  border: 1px solid purple;
  margin: 10px;
  font-size: 18px;
  text-transform: capitalize;
} */

.pos-rel {
  position: relative;
}

/* .autoContainer {
  position: absolute;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #00897b;
  background-color: #fafafa;
  left: 14px;
  top: 235px;
  width: 475px;
} */

.autoContainer {
  position: absolute;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #00897b;
  background-color: #fafafa;
  z-index: 1;
  overflow-y: scroll;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 500px; */
  padding: 5px;
}

.option,
span {
  font-size: 16px;
  text-transform: capitalize;
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.dropdown-info {
  margin-top: 20px;
  padding-bottom: 20px;
  margin-left: 10px;
  border-bottom: 1px solid #e0e4e8;
}

.item-header {
  font-weight: bold;
  margin-right: 10px;
  color: #00897b;
}

.info-form {
  margin-bottom: 10px;
}
.info-label {
  /* font-weight: bold; */
}

.info-detail {
  text-transform: capitalize;
  font-weight: bold;
  margin-left: 5px;
}

.checklist {
  margin-bottom: 10px;
}

/* temp border to visualize components */
.temp-border {
  border-style: solid;
  margin: 3px;
}

/* automatically rendered with react app */
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
