/* Side-Navigation-Bar css */

/* style=“margin-left:auto; margin-right:auto; width:785px;” */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Helvetica';
}

body{
   background-color: #fafafa;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 275px;
  height: 100%;
  background: #00897B;
  padding: 30px 0px;
  position: fixed;
  overflow-y: scroll;
}

.wrapper .sidebar .avatar{
  color: #4ebaaa;
  display: block;
  border-radius: 50%;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.wrapper .sidebar h2{
  color: #fafafa;
  /* text-transform: uppercase; */
  text-align: center;
  font-size: 14pt;
  font-weight: bold;
  margin-bottom: 40px;
}

#patient-dropdown{
  color: #fafafa;
  background: none;
  outline-color: transparent;
  text-align: center;
  font-size: 14pt;
  font-weight: bold;
}

/* .browser-default .custom-select{
  color: #fafafa !important;
  background: none;
  outline-color: transparent;
  text-align: center;
  font-size: 14pt;
  font-weight: bold;
} */

.wrapper .sidebar h5{
  color: #fafafa;
  text-transform: uppercase;
  text-align: left;
  font-size: 12pt;
  font-weight: bold;
  margin-left: 40px;
  margin-bottom: 10px;
}

.wrapper .sidebar ul li{
  color: #c4c4c4;
  padding: 5px;
  margin-left: 50px;
}    

.wrapper .sidebar ul li a{
  color: #bdb8d7;
  display: block;
  text-decoration: none;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #005b4f;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
 
.wrapper .sidebar .social_media{
  position: fixed;
  bottom: 0;
  right: 1%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #c4c4c4;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #fafafa;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.main_content{
  width: 75%;
  margin-left: 300px;
  /* margin-right: 100px; */
}

.main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.main_content .info div{
  margin-bottom: 20px;
}

#add-form {
  position: fixed;
  bottom: 20px;
  right: 50;
  border-radius: 50%;
}

.form-check {
  margin-left: auto;
  margin-right: auto;
}

.form-modal {
  padding: 20px;
  padding-left: 30px;
  background: #fff;
  color: #fafafa;
  border-bottom: 1px solid #e0e4e8;
  background: #00897B;
  font-size: 14pt;
  font-weight: bold;
}

.btn {
  border-radius: 0%;
  margin-right: 3px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #00897B !important;
}

.btn .btn-outline .mb1 {
  outline-color: #00897B !important;
}


/* temp border to visualize components */
.temp-border {
  border-style: solid;
  margin: 3px;
}


/* automatically rendered with react app */
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
